@charset "UTF-8";

body {
    background-color: #353535;
    font-family: 'Quantico', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #434753;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 320px;
    text-align: center;
}

.login-container h1 {
    color: #2a9d8f;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    width: 92%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #3a3f4d;
    background: #353535;
    color: #ffffff;
    font-family: 'Quantico', sans-serif;
}

.btn-login {
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.btn-login:hover {
    background-color: #21867a;
}

.btn-register {
    margin-top: 10px; /* Espacio entre el botón de Ingresar y Registrarse */
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.alert i {
    margin-right: 8px;
}

.alert-danger {
    background-color: #e76f51;
    color: white;
}

.alert-info {
    background-color: #2a9d8f;
    color: white;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.enlaces a {
    color: #2a9d8f;
    text-decoration: none;
    font-size: 14px;
}

.enlaces a:hover {
    text-decoration: underline;
}